CREATE TABLE IF NOT EXISTS "product" (
"index" INTEGER,
  "product_link" TEXT,
  "title" TEXT,
  "brand" TEXT,
  "price" INTEGER,
  "discount" REAL,
  "avg_rating" REAL,
  "total_ratings" INTEGER
);
CREATE INDEX "ix_product_index"ON "product" ("index");
